<section class="index">
  <article class="lecture-area">
    <div class="categories-group">
      <% @data.keys.each_with_index do |key, index| %>
          <div class="category" id="catetory<%= index %>" data-category="<%= key %>">
            <%= key %>
          </div>
      <% end %>
    </div>
    <div class="lectures-group">

    </div>
  </article>
</section>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var lectures = {};
        <% @data.keys.each do |key| %>
          lectures["<%= key %>"] = [];
          <% @data[key].each do |lecture| %>
          lectures["<%= key %>"].push(
            {
                subject_name: "<%= lecture.subject_name %>",
                school_year: <%= lecture.school_year %>,
                lecture_num: <%= lecture.lecture_num %> +"-" + ("0" + <%= lecture.division_group %>).slice(-2),
                grades_time: "<%= lecture.grades_time %>",
                professor: "<%= lecture.professor %>",
                lecture_time: "<%= lecture.lecture_time %>",
                assessment_type_grade: <%= lecture.assessment_type_grade %> ? "GRADE" : "PASS/FAIL",
                relative_grade: <%= lecture.relative_grade %> ? "상대평가" : "절대평가"
            }
          );
          <% end %>
        <% end %>

        var category_flag;
        $('.category').click(function () {
            $(category_flag).css("background-color", "");
            category_flag = this;
            var category = $(this).css("background-color", "#888888").data("category");
            var lectures_group = $(".lectures-group").empty();
            for (var i = 0; i < lectures[category].length ; i++) {
                console.log(i);
                var lecture = "<div>" + lectures[category][i]["subject_name"] +"</div>"
                lectures_group.append(lecture);
            }
        });
    });
</script>