<nav>
  <div class="close-cover">
    <span class="close">&times;</span>
  </div>
  <div class="profile">
    <div class="profile-image-cover">
      <div class="profile-image"></div>
    </div>
    <div class="user-name">
      <% if user_signed_in? %>
          <%= current_user.email %>
      <% end %>
    </div>
    <div class="devise-btn-cover">
      <% if user_signed_in? %>
          <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "로그아웃 하시겠습니까?"}, class: "btn-devise" %>
      <% else %>
          <%= link_to "로그인", new_user_session_path, class: "btn-devise" %>
          <%= link_to "회원가입", new_user_registration_path, class: "btn-devise" %>
      <% end %>
    </div>

  </div>
  <hr>
  <%= link_to '시간표 미리짜기', timetables_path, class: "btn-nav" %>
  <%= link_to '시간표 비교하기', timetables_path, class: "btn-nav" %>
  <hr>
  <%= link_to '학점 계산기', timetables_path, class: "btn-nav" %>
  <hr>
  <%= link_to '게시판', timetables_path, class: "btn-nav" %>
  <hr>
</nav>

<div class="nav-cover"></div>